ul.recommend-area{
	position: absolute;
	top: 58px;
	left: 0;
	height: calc(100vh - 318px);
	width: calc(100% - 20px);
	padding: 30px 10px;
	overflow: auto;
}
ul.recommend-area.deco::-webkit-scrollbar {
    width: 15px;
}
ul.recommend-area.deco::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #f2f2f2;
}
ul.recommend-area.deco::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:#09C9D9;
}
li.recommend{
	display: inline-block;
	width:100%;
	margin-bottom: 15px;
}
.recommend h2{
	height: 20px;
	width: 100%;
	margin-bottom: 10px;
	color:#363637;
	font-family: "Noto Sans CJK JP",Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.recommend-ex{
	width: calc(100% - 40px);
	background-color: #FFF;
	border-radius: 25px;
	display: inline-block;
	padding: 10px 20px;
}
.recommend-ex p{
	color:#787878;
	font-family: "Noto Sans CJK JP",Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 15px;
}