.board-u{
	height: 50px;
	width: 100%;
}
.board-u p{
	line-height: 50px;
	color: #131314;
	font-family: "Noto Sans CJK JP",Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 30px;
	text-decoration:none;
}